.keypad {
    margin: 75px 75px;
    border: solid black 1px;
    display: grid;
    text-align: center;
    grid-template: repeat(4, 25%) / repeat(3, 33.3%);
}

.key{
border: solid black 1px;
  background-color: slategray;
  color:white;
  font-size:x-large;  
}